$bg: #0a0a0a;
$task: #1b1b1b;
$border: rgba(255, 255, 255, 0.12);
$hover: rgba(255, 255, 255, 0.15);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Segoe UI, sans-serif;
}

body {
  background: url(./wallpaper.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.desktop {
  height: calc(100vh - 40px);
  width: 100vw;
  position: relative;
}

.icons {
  padding: 20px;

  .icon {
    width: 80px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;

    .thumb {
      font-size: 40px;
    }

    .label {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: rgba(25, 25, 25, 0.75);
  backdrop-filter: blur(14px);
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 14px;
  border-top: 1px solid #2e2e2e;
  .taskbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .taskbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 14px;
  }
  .taskbar-item {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    transition: 0.2s;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  #search-bar {
    height: 34px;
    width: 260px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    display: flex;
    padding: 0 12px;
    align-items: center;

    gap: 10px;
    color: #e6e6e6;
    font-size: 14px;
    cursor: text;
    user-select: none;

    img {
      height: 16px;
      width: 16px;
      filter: invert(1);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }
  #system-tray {
    margin-left: auto;
    display: flex;
    align-items: center;

    gap: 18px;
    padding-right: 12px;
  }

  .tray-icon {
    height: 18px;
    width: 18px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      filter: invert(1);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  #time {
    color: white;
    font-size: 12px;
    font-weight: 400;
    width: 65px;
    text-align: right;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
  }
}
.start-menu {
  width: 600px;
  height: 500px;
  position: fixed;
  bottom: 50px;
  left: 10px;
  background: rgba(28, 28, 28, 0.85);
  backdrop-filter: blur(20px);
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  transform-origin: bottom left;
  transition: 0.25s ease;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  z-index: 999999;

  &.hidden {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
  }
}

.start-left {
  width: 180px;
  background: rgba(20, 20, 20, 0.85);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .user {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    img {
      width: 45px;
      border-radius: 50%;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #ddd;
      cursor: pointer;
      padding: 6px 4px;
      border-radius: 4px;

      img {
        width: 18px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

.start-right {
  flex: 1;
  padding: 20px;
  color: #fff;

  .menu-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 10px;
  }

  .tile {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }

  .small {
    grid-row: span 1;
    grid-column: span 1;
  }

  .medium {
    grid-row: span 1;
    grid-column: span 2;
  }

  .wide {
    grid-row: span 1;
    grid-column: span 3;
  }

  .large {
    grid-row: span 2;
    grid-column: span 2;
  }
}

.context-menu {
  position: absolute;
  background: #222;
  color: white;
  width: 220px;
  border: 1px solid $border;
  border-radius: 15px;
  padding: 5px 0;
  box-shadow: 0 0 12px rgba(73, 72, 72, 0.596);
  z-index: 99999;

  .item {
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;

    img {
      width: 11%;
      object-fit: cover;
    }
    &:hover {
      background: $hover;
    }
  }

  .divider {
    height: 1px;
    background: $border;
    margin: 5px 0;
  }

  .has-submenu {
    position: relative;
    .submenu {
      display: none;
      position: absolute;
      left: 160px;
      top: 0;
      width: 160px;
      background: #222;
      border: 1px solid $border;
      border-radius: 4px;
    }
    &:hover .submenu {
      display: block;
    }
  }
}
